## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Husavik,IS,66.0449,-17.3389,26.51,77,25,15.23,scattered clouds
1,1,Novonikolsk,RU,43.8506,131.8645,6.58,90,51,3.02,broken clouds
2,2,Alice Springs,AU,-23.7000,133.8833,74.75,94,100,13.80,moderate rain
3,3,Mataura,NZ,-46.1927,168.8643,56.39,74,99,1.32,light rain
4,4,Punta Arenas,CL,-53.1500,-70.9167,59.02,62,75,19.57,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature for your trip?"))
max_temp = float(input("What is the maximum temperature for your trip?"))

What is the minimum temperature for your trip?60
What is the maximum temperature for your trip?95

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pref_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [14]:
# 4a. Determine if there are any empty rows.
pref_cities_df.count()

City_ID        339
City           339
Country        334
Lat            339
Lng            339
Max Temp       339
Humidity       339
Cloudiness     339
Wind Speed     339
Description    339
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_pref_df = pref_cities_df.dropna()

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_pref_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Alice Springs,AU,74.75,moderate rain,-23.7000,133.8833,
5,Hermanus,ZA,87.91,clear sky,-34.4187,19.2345,
7,Tiarei,PF,77.00,light rain,-17.5333,-149.3333,
9,Bredasdorp,ZA,79.29,clear sky,-34.5322,20.0403,
10,Mar Del Plata,AR,78.87,clear sky,-38.0023,-57.5575,
11,Trincomalee,LK,80.44,broken clouds,8.5711,81.2335,
12,Rikitea,PF,76.32,light rain,-23.1203,-134.9692,
16,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
20,Port Alfred,ZA,72.64,few clouds,-33.5906,26.8910,
24,Hilo,US,67.80,broken clouds,19.7297,-155.0900,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Alice Springs,AU,74.75,moderate rain,-23.7000,133.8833,Desert Palms Alice Springs
5,Hermanus,ZA,87.91,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Tiarei,PF,77.00,light rain,-17.5333,-149.3333,Le Rocher de Tahiti
9,Bredasdorp,ZA,79.29,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
10,Mar Del Plata,AR,78.87,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
11,Trincomalee,LK,80.44,broken clouds,8.5711,81.2335,Welcombe Hotel
12,Rikitea,PF,76.32,light rain,-23.1203,-134.9692,People ThankYou
16,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
20,Port Alfred,ZA,72.64,few clouds,-33.5906,26.8910,The Halyards Hotel
24,Hilo,US,67.80,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [35]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))